<ion-header>
  <ion-toolbar>
    <ion-title>game-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Qu'elle est la raison du conflit ?</ion-label>
        <ion-input [(ngModel)]="gameTitle" placeholder="Enter text"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-button color="white" (click)="startGame()">
        <div class="icon-graphique-danger">
          <ion-icon name="warning" color="danger"></ion-icon>
        </div>
        <ion-text color="primary">Démarrer la partie</ion-text>
      </ion-button>
    </ion-row>

  </ion-grid>

</ion-content>
